@import '../../App.module.scss';

.b__friends {
  border-right: 1px solid $border-grey;
  &_title {
    padding: 12px 16px;
    font-weight: 600;
    font-size: 20px;
  }

  .l__pages {
    padding: 0 16px;
    &_item {
      font-size: 16px;
      margin-right: 2px;
      &_current {
        font-weight: 600;
      }
      &:hover {
        color: $blue;
      }
    }
  }
}

.l__users {
  display: flex;
  flex-direction: column;
  &_item {
    cursor: pointer;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: #eff3f4;
    }
  }
  button {
    background-color: black;
    border: none;
    border-radius: 16px;
    color: #fff;
    padding: 9px 15px;
    font-weight: 700;
  }
}
